header{
    margin: 1% 2% 2% 2%;
    height: 10%;
    display: flex;
    max-width: 100%;
    vertical-align: center;
    box-sizing: border-box;
}

figure{
    margin: 0;
    padding: 0;
}

h1{
    height: 30%;
    max-width: 100%;
    font-size: 4vw;
    position: relative;
    margin: 8%;
}

h3{
    white-space: nowrap;
    margin: 5%;
    font-size: 2vw;
}

h5{
    padding: 0;
    margin: 0;
    font-size: 1vw;
}

p{
    font-size: 1vw;
}

footer{
    height: 20%;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1% 3%;
}

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #ffffff no-repeat fixed 100% 100%;
    color: #000000;
    overflow-x: hidden;
}

.logoImg {
    max-width: 100%;
    height: 40%;
    width: 40%;
    margin-right: 3%;
    position: relative;
}

.logo {
    margin-left: 3%;
    width: 22%;
    height: 25%;
    float: left;
    display: flex;
}

.user {
    margin-top: 2%;
    width: 70%;
    float: right;
    display: inline-block;
}

.userInfo {
    float: right;
    display: flex;
}

.navigation {
    margin: 4%;
    height: 100%;
    display: flex;
}

.whiteButton {
    background-color: white;
    border-color: black;
    border-width: thin;
    white-space: nowrap;
    margin: 4%;
    height: 100%;
    font-size: 2vw;
    font-weight: bold;
}
.whiteButton:hover{
    background-color: black;
    color: white;
}

.blackButton{
    background-color: black;
    color: white;
    border-color: black;
    border-width: thin;
    white-space: nowrap;
    margin: 4%;
    height: 100%;
    font-size: 2vw;
    font-weight: bold;
}
.blackButton:hover{
    background-color: white;
    color: black;
    border-color: black;
}

#filter.blackButton {
    padding: 0 6%;
    font-weight: normal;
}

#loadMore.blackButton{
    padding: 0.5% 4%;
    font-size: 2.5vw;
    font-weight: normal;
}

.body {
    height: 60%;
    margin: 1% 1%;
}

.lotusInfo {
    display: flex;
    max-width: 100%;
    margin: 0 8%;
}

.lotusPhrase {
    float: left;
    width: 85%;
}

.filterButton {
    float: right;
    width: 15%;
    height: min-content;
    margin-top: 3.5%;
}

.filters {
    display: flex;
    max-width: 100%;
    margin: 0 5%;
}

.filterField {
    display: flex;
    margin: auto;
    background-color: white;
    border-color: black;
    border-width: thin;
    white-space: nowrap;
    height: 100%;
    font-size: 1.2vw;
    padding: 0.5% 1%;
    width: 17%;
}

.feed {
    display: inline-block;
    width: 100%;
    margin: 3% 2%;
    list-style: none;
}

ul{
    padding: 0;
}

li {
    display: inline-block;
    margin: 2%;
    width: fit-content;
    text-align: center;
}

.post {
    width: 22%;
    margin: 3% 1%;
}

.photoOfPost {
    display: flow;
    vertical-align: bottom;
}

.photo {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}

.iconsOfThePost {
    margin: 0;
    display: inline-block;
}

.iconButton {
    background-color: white;
    border-color: white;
    border-style: solid;
    border-width: thin;
    white-space: nowrap;
    margin: 0.5vw 1vw;
    padding: 0;
    font-weight: bold;
    font-size: 1.2vw;
    width: 10%;
    height: 10%;
    text-align: center;
    outline: none;
}
.iconButton:hover{
    border-color: black;
    border-width: thin;
    border-style: solid;
    border-radius: 15%;
}

.icon {
    width: 100%;
    height: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}

.descrOfPost {
    text-align: left;
    border-color: black;
    border-width: thin;
    border-style: solid;
    padding: 1% 3%;
    float: left;
    width: 93.8%;
    margin: 1% 0.3%;
    display: none;
}

.likes {
    font-weight: bold;
    float: left;
    width: 60%;
    display: inline-block;
}

.date {
    font-weight: bold;
    width: 40%;
    float: right;
    display: inline-block;
    white-space: nowrap;
}

.morePosts {
    margin: auto;
    text-align: center;
}

.pageInfo {
    display: inline-block;
    width: 100%;
    margin: 1% 2% 2%;
    list-style: none;
    text-align: center;
}

.info {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 30%;
    margin: 0;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modalContent {
    background-color: white;
    margin: 5% auto;
    border: 1px solid #888;
    width: 50%;
    text-align: center;
}

#close {
    float: right;
    font-weight: bold;
}

#imageURL{
    float: left;
    margin: 2vw;
    background-color: white;
    border-color: black;
    border-width: thin;
    white-space: nowrap;
    height: 100%;
    font-size: 1.8vw;
    padding: 0.5% 1%;
    width: 40%;
    outline: none;
}

#okEdit{
    font-size: 2vw;
    padding: 0.6vw 6vw;
}

#photoModal{
    width: 70%;
    display: block;
    text-align: center;
    margin: 3vh auto;
}

#descrModal{
    font-weight: bold;
}

#nameModal{
    font-size: 1.5vw;
}

#dateModal{
    font-size: 1.5vw;
    margin-bottom: 0;
}

.descrArea{
    width: 70%;
    margin: 1vh auto;
    border-width: thin;
    border-color: black;
    resize: none;
    font-size: 1.5vw;
}

#shortDescrModal{
    margin-top: 0;
    height: 15vh;
}

#hashTagsModal{
    height: 5vh;
}

.deleteWarning {
    font-size: 2.5vw;
}

#yesDelete{
    padding: 0.5vw 3vw;
}

#noDelete{
    padding: 0.5vw 3vw;
}

.signLogo{
    text-align: center;
    margin: 1vw auto;
    width: 15vw;
}

.alignLogo{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
}

#signInPhrase{
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 2vw;
}

#wrongData{
    text-align: center;
    font-size: 1.5vw;
    color: red;
}

#login{
    display: block;
    text-align: center;
    margin: 2vw auto;
    width: 80%;
}

#password{
    display: block;
    text-align: center;
    margin: 2vw auto;
    width: 80%;
}

@media screen and (max-width: 960px) {
    .post {
        width: 45%;
        margin: 3% 1%;
    }

    p{
        font-size: 2vw;
    }

    h3{
        font-size: 3vw;
    }

    h5{
        font-size: 1.2vw;
    }

    .whiteButton{
        font-size: 3vw;
    }

    .user{
        margin-top: 1%;
        margin-right: 2%;
    }

    #filter.blackButton{
        font-size: 3vw;
    }

    .filterField{
        font-size: 2vw;
        width: 28%;
    }

    .iconButton{
        font-size: 2vw;
        padding: 0.5vw 2vw;
        width: 18%;
        height: 18%;
    }

    .icon{
        width: 130%;
    }

    #loadMore.blackButton{
        font-size: 4vw;
    }

    .modalContent {
        width: 80%
    }

    #nameModal{
        font-size: 2vw;
    }

    #dateModal{
        font-size: 2vw;
    }

    .descrArea{
        font-size: 2vw;
    }

    #okEdit{
        font-size: 2.3vw;
        padding: 0.8vw 8vw;
    }

    .deleteWarning {
        font-size: 2.8vw;
    }

    #yesDelete{
        font-size: 2.2vw;
        padding: 0.8vw 4vw;
    }

    #noDelete{
        font-size: 2.2vw;
        padding: 0.8vw 4vw;
    }
}

@media screen and (max-width: 768px) {
    .post {
        width: 90%;
        margin: 3% auto;
    }

    p{
        font-size: 3vw;
    }

    h3{
        font-size: 4vw;
    }

    h5{
        font-size: 1.8vw;
    }

    .whiteButton{
        font-size: 4vw;
    }

    .logo{
        width: 20%;
    }

    .logoImg{
        width: 80%;
    }

    .user{
        margin-top: 3%;
        margin-right: 2%;
        width: 65%;
    }

    #filter.blackButton{
        font-size: 4vw;
    }

    .lotusInfo{
        display: block;
        margin: auto;
    }

    .lotusPhrase{
        width: 100%;
        text-align: center;
        float: none;
        margin: auto;
    }

    .filterButton{
        width: 100%;;
        margin: auto;
        float: none;
        text-align: center;
    }

    .filters{
        display: block;
    }

    .filterField{
        font-size: 3vw;
        width: 90%;
        margin: 3% 2%;
        border-width: thin;
    }

    .iconButton{
        font-size: 4vw;
        padding: 1vw 3vw;
    }

    #loadMore.blackButton{
        font-size: 7vw;
    }

    .modalContent {
        width: 90%;
    }

    #nameModal{
        font-size: 3vw;
    }

    #dateModal{
        font-size: 3vw;
    }

    .descrArea{
        font-size: 3vw;
    }

    #okEdit{
        font-size: 2.8vw;
        padding: 1vw 10vw;
    }

    .deleteWarning {
        font-size: 3.2vw;
    }

    #yesDelete{
        font-size: 2.6vw;
        padding: 1vw 6vw;
    }

    #noDelete{
        font-size: 2.6vw;
        padding: 1vw 6vw;
    }
}
